/* Links */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.nav a {
  font-weight: 500;
}

.active {
  text-decoration: underline;
}

.cta {
  background-color: #3080eb;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 20px;
  border: none;
}

.cta a {
  font-size: 0.8em;
}

/* Home page*/

.welcome a {
  color: #fff;
}

.cta-welcome {
  border: 1.5px solid white;
  background-color: transparent;
  display: inline;
  align-items: center;
  margin-left: 10%;
}

.shop-link :last-child {
  margin-left: 10px;
}

.cta:hover {
  text-decoration: none;
}

/* Shop */
.shop-navigation a {
  text-transform: uppercase;
  font-weight: 500;
}

/* Product */
.cart .cta {
  margin-bottom: 20px;
}

/* Checkout */
.cta-payment {
  background-color: #47b25b;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}
