/* Links */
a {
  text-decoration: none;
  color: black;
}

.nav-links a{
  font-weight: 500;
  transition: 0.3s ease;
}

.active, .nav-links a:hover {
  color: rgb(40, 99, 147);
}


.breadcrumbs .active{
  font-weight: bold;
}

/* Call to action buttons */
.cta {
  background-color: var(--mainColor);
  text-transform: uppercase;
  color: var(--mainWhiteColor);
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  border: 1px solid var(--mainColor);
  border-radius: var(--borderRadius);
  transition: var(--buttonTransition);
  cursor: pointer;
}

.cta:hover{
  background: transparent;
  color: var(--mainColor);
  text-decoration: none;
}


/* Checkout */
.cta-payment {
  display: inline-block;
  margin: 20px 0px 20px 0px;
}
