main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/about-background.jpg);
  background-position: bottom;
  background-size: cover;
  padding-left: 10%;
}

h1,
h2,
p {
  text-align: left;
  color: #fff;
  max-width: 80%;
}

h2 {
  padding-top: 7%;
}

p {
  padding-top: 2%;
}
