.about-container {
  background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)),
  url(../images/about-background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*.about-wrapper{
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
  padding: 40px;
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}*/

.about-wrapper{
  width: 90vw;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 130px;
}

.about-wrapper h1, .about-wrapper h2{
  text-align: left;
  padding: 0.5rem 0rem;
}

.about-wrapper h2{
  padding-top: 1.3rem;
}
