main {
  background: #f8f8f8;
}

.product-nav {
  padding-top: 130px;
  padding-left: 10%;
}

.product-nav a {
  text-transform: uppercase;
}

h1 {
  padding-left: 10%;
  padding-top: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
}

h1,
h2 {
  text-align: left;
}

h3 {
  margin-top: 30px;
  margin-left: 10%;
  text-transform: uppercase;
}

section {
  height: fit-content;
  padding-left: 10%;
  padding-right: 10%;
}

.content {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 5px 10px 10px lightgray;
}

.summary-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.order-summary img {
  max-width: 70px;
}

.shipping p {
  padding: 5px;
}

.form-wrapper > * {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 10px 10px lightgray;
}

input,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.cta-payment {
  background-color: #47b25b;
  display: inline-block;
  margin: 20px 0px 20px 10%;
}
