.checkout-main-content {
  margin-left: 10%;
  margin-right: 10%;
}

.product-nav {
  padding-top: 130px;
}

h1 {
  padding-top: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
}

h1,
h2 {
  text-align: left;
}

h3 {
  margin-top: 30px;
  text-transform: uppercase;
}

.content {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 5px 10px 10px lightgray;
}

/* Order summary */

.summary-content {
  display: grid;
  grid-template-columns: 120px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.summary-content p {
  margin: 5px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity img {
  max-width: 20px;
}

.quantity p {
  margin: 15px;
}

.price-flex {
  display: flex;
  justify-content: space-between;
}

/* Forms */

.form-wrapper > * {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 10px 10px lightgray;
}

input,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.short-form input {
  display: flex;
  flex-direction: column;
}

/* Shipping */

.shipping p {
  padding: 5px;
}
