.contact-header {
  background: #e4ebf2;
  height: 270px;
  padding-bottom: 30px;
}

p {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 0px 10px 0px;
}

.contactform-wrapper h2 {
  text-align: left;
  padding-bottom: 15px;
}

.contactform-wrapper > * {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  min-height: 100px;
  min-width: 100%;
}

input,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.cta-submit {
  margin-bottom: 30px;
}

#submit:hover {
  cursor: pointer;
}
