.contact-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url(../images/shop-background2.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.contact-hero h1 {
  width: 90vw;
  padding-top: 150px;
}

.contact-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact-hero p{
  width: 90vw;
  max-width: 700px;
}

.contact-container{
  width: 90vw;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container{
  padding-top: 3rem;
  text-align: left;
}

.contact-form{
  padding-top: 3rem;
}

.input-group{
  margin-bottom: 30px;
}

input, textarea{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  outline: 0;
  border: 1px solid black;
  border-radius: var(--borderRadius);
  background: transparent;
  cursor: text;
  font-family: inherit;
  font-size: 15px;
}

textarea{
  min-height: 120px;
}

.form-error{
  display: none;
  margin-top: 2px;
  color: red;
  font-size: 14px;
}

.success-message{
  display: none;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  margin: 2rem;
  border-radius: var(--borderRadius);
  background-color: #caeec2;
}

.success-message h2{
  color: green;
  text-align: left;
}
