/* Home Page */
.start {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/home-background2.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 60vh;
}

.start h1 {
  color: #fff;
}

.start p {
  color: #fff;
  text-align: center;
}

.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/welcome-background.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 35vh;
}

.welcome p {
  color: #fff;
  padding: 25px 10px 10px 20px;
}

.new-products {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  gap: 15px;
}

.news h2 {
  padding-top: 30px;
  text-transform: uppercase;
}

.new-products img {
  max-width: 100%;
  background: lightgray;
}
