.home-hero {
  min-height: 130vh;
  background: url(../images/home-background2.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 12rem;
}

.hero-container{
  text-align: center;
}

.hero-container h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-container p{
  margin-bottom: 2rem;
}

/* New products */

.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.popular-products {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  color: var(--mainColor);
  text-align: center;
}

/*.new-products {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  gap: 15px;
}

.news h2 {
  margin: 30px;
  text-transform: uppercase;
}*/
