@media (min-width: 799px) {

  h1{
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.5em;
  }

  .cta{
    font-size: 1rem;
  }

  .hamburger{
    display: none;
}  

.nav-links{
  all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-overlay{
  all: unset;
}

.close-menu{
  display: none;
}

.nav-links li{
    opacity: 1;
    padding: 30px;
}

.nav-links a{
  position: relative;
}

.nav-links a.active::after,
.nav-links a:hover::after{
  content: "";
  width: 40%;
  height: 3px;
  background: rgb(40, 99, 147);
  position: absolute;
  top: 22px;
  left: 0px;
  border-radius: 5px;

}

.cart{
  width: 40%;
}

  /* Homepage */
  .home-hero{
    min-height: 105vh;
  }

  .hero-container p{
    font-size: 1.4rem;
  }

  .hero-container h1{
    font-size: 2.8rem;
    padding-top: 2rem;
  }

  .hero-container a{
    width: 200px;
  }


/* Contact*/
.contact-hero {
  height: 40vh;
}


  /* Checkout */

  .short-form {
    display: flex;
    gap: 20px;
  }

  .short-checkout {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .logo {
    max-width: 120px;
  }

  li {
    padding: 50px;
  }
}
