@media (min-width: 769px) {


  h2 {
    font-size: 1.5em;
  }

  .hamburger{
    display: none;
}  

.nav-links{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li{
    opacity: 1;
    position: relative;
    padding: 30px;
}

.nav-links a.active::after,
.nav-links a:hover::after{
  content: "";
  width: 30%;
  height: 3px;
  background: var(--mainColor);
  position: absolute;
  top: 50px;
  left: 30px;
  border-radius: 5px;

}

  /* Homepage */


  /* About */
  .about {
    height: 100%;
  }
  .about h1 {
    padding-top: 160px;
  }

  .about h2 {
    padding-top: 50px;
  }

  .about p {
    max-width: 50%;
  }

  /* Contact */
  .contactform-wrapper > * {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* Shop */
  .product-main-content {
    margin-left: 20%;
    margin-right: 20%;
  }

  .list-of-products {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 20%;
    margin-right: 20%;
  }

  /* Checkout */
  .checkout-main-content {
    margin-left: 20%;
    margin-right: 20%;
  }

  .short-form {
    display: flex;
    gap: 20px;
  }

  .short-checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .logo {
    max-width: 120px;
  }

  li {
    padding: 50px;
  }


  /* Product Spesific page */
  .jacket-specific {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .jacket-specific img {
    width: 100%;
  }

  .jacket-specific h2 {
    margin-top: 30px;
  }

  /* Checkout */

  .summary-content {
    gap: 40px;
  }
}
