.product-main-content {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  padding-top: 0px;
  text-transform: capitalize;
}

.product-nav > * {
  display: inline-block;
  padding-top: 130px;
  width: fit-content;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 0px;
}

.product-nav a {
  text-transform: capitalize;
}

.jacket-specific {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.jacket-specific h1,
h2 {
  text-align: left;
  margin-bottom: 10px;
}

.jacket-specific h2 {
  margin-top: 30px;
}

.jacket-specific p {
  margin-bottom: 10px;
}

/* Color info */
.color-circle {
  height: 20px;
  width: 20px;
  background-color: #1c96f4;
  border-radius: 50%;
  margin-bottom: 10px;
}

.color p {
  margin-bottom: 5px;
}

/* Select Size */
.size {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.size select {
  max-width: 100px;
}

.size label {
  margin-bottom: 5px;
}

/* Add to bag */
#add-to-cart,
.cart {
  display: none;
}

label:hover {
  cursor: pointer;
}

.cart {
  border-radius: 5px;
  background: #fff;
  position: fixed;
  width: 190px;
  height: fit-content;
  top: 80px;
  right: 0px;
  padding: 30px;
  box-shadow: 10px 5px 10px lightgray;
}

.cart p {
  margin-bottom: 10px;
}

#add-to-cart:checked ~ .cart {
  display: block;
}
