main {
  background: #f8f8f8;
}

.product-nav {
  padding-top: 30%;
  padding-left: 10%;
}

.jacket-specific img {
  background: lightgray;
  width: 100%;
  align-self: center;
}

.jacket-specific {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 10px;
}

.jacket-specific h1,
h2 {
  text-align: left;
}

.color-circle {
  height: 20px;
  width: 20px;
  background-color: #1c96f4;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 150px 100px;
}

.color p {
  margin-bottom: 5px;
}

select {
  margin-top: 5px;
}

.jacket-specific select {
  margin-bottom: 20px;
}

.product-information {
  margin-top: 20px;
}

.product-information p {
  padding-top: 10px;
}

#add-to-cart,
.cart {
  display: none;
}

label:hover {
  cursor: pointer;
}

.cart {
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #fff;
  position: fixed;
  align-self: center;
  margin-top: 42px;
  padding: 40px;
  text-align: center;
}

.cart .cta {
  display: block;
  margin: 10px;
}

.cart img {
  max-width: 50%;
  align-self: center;
}

#add-to-cart:checked ~ .cart {
  display: block;
}
