main {
  background: #f8f8f8;
}

.product-nav {
  padding-top: 30%;
  padding-left: 10%;
}

.jacket-specific img {
  background: lightgray;
  width: 100%;
  align-self: center;
}

.jacket-specific {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 10px;
}

.jacket-specific h1,
h2 {
  text-align: left;
}

.jacket-specific select,
input {
  max-width: 25%;
}

.color-circle {
  height: 25px;
  width: 25px;
  background-color: #1c96f4;
  border-radius: 50%;
}

#add-to-cart,
.cart {
  display: none;
}

label:hover {
  cursor: pointer;
}

.cart {
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #fff;
  position: fixed;
  align-self: center;
  margin-top: 42px;
  padding: 40px;
  text-align: left;
  max-width: 250px;
}

.cart img {
  max-width: 50%;
  align-self: center;
}

#add-to-cart:checked ~ .cart {
  display: block;
}

.reviews h2 {
  padding-left: 10%;
}

.review-ola,
.review-kari {
  display: inline-block;
  background: #fff;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 10px;
  margin: 10px 30px 10px 30px;
  border-radius: 5px;
}
