.shop {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/shop-background2.jpg);
  background-position: top;
  background-size: cover;
  min-height: 25vh;
}

h1 {
  color: #fff;
  padding-top: 30%;
}

.shop-navigation {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.shop-navigation a {
  text-transform: uppercase;
  font-weight: 500;
}

.new-products {
  background: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 15px;
  padding: 0px 30px 30px 30px;
}

.new-products img {
  max-width: 100%;
  background: lightgray;
}

.new-products p {
  font-size: 0.9em;
}
