.shop-container{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  margin-bottom: 4rem;
}

.shop-hero {
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../images/background4.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.shop-hero h1 {
  padding-top: 150px;
}

.navigation-container{
  padding-top: 1rem;
}

.shop-navigation {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 1.3rem;
}

.shop-navigation a{
  text-transform: capitalize;
  transition: 0.3s ease;
}

.shop-navigation a:hover{
  color: rgb(40, 99, 147);
}

.shop-navigation .active{
  font-weight: bold;
  color: rgb(40, 99, 147);
  /* aquamarine*/
}

.breadcrumbs{
  padding-top: 3rem;
}


/* Products */
.list-of-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  padding-top: 3rem;
}

.product h3, .product h4{
  margin-top: 0.5rem;
  text-align: left;
}

.product h4 {
  color: var(--mainColor);
}

/* Hover animation on product */
.product-img {
  opacity: 1;
  transition: 0.6s ease;
}

.img-container{
  position: relative;
  transition: 0.6s ease;
}

.view-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  background-color: var(--mainColor);
  text-transform: uppercase;
  color: var(--mainWhiteColor);
  border-radius: var(--borderRadius);
  padding: 0.7rem 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: .6s ease;
}

.product .product-img:hover{
  opacity: 0.4;
}

.img-container:hover .view-btn{
  opacity: 1;
}

.product:hover{
  text-decoration: underline;
}

.product{
  position: relative;
}

.product .quick-add{
  position: absolute;
  right: 0;
  bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

/* categories */
.category-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.category-select{
  font-family: inherit;
  padding: 2px;

}

@media (min-width: 799px){
  .list-of-products{
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}