.shop {
  background: #e4ebf2;
  min-height: 25vh;
}

.shop-navigation {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.shop-navigation a {
  text-transform: uppercase;
  font-weight: 500;
}

.new-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.new-products img {
  max-width: 100%;
  background: lightgray;
}
