@font-face {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap)
    format(woff2);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

.logo {
  max-width: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  z-index: 1000;
}

nav {
  display: none;
  background: #f8f8f8;
  width: 200px;
  top: 75px;
  z-index: 1000;
  filter: drop-shadow(5px 5px 5px grey);
  text-align: left;
}

nav li {
  display: block;
  padding: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: absolute;
}

footer {
  background-color: #e4ebf2;
  text-align: center;
  padding: 20px;
}

/* Links */
a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
}

.welcome a {
  color: #fff;
}

.cta {
  background-color: #3080eb;
  font-size: 0.7em;
  border-radius: 50px;
  text-transform: uppercase;
  filter: drop-shadow(5px 5px 5px grey);
  color: #fff;
  padding: 5px 10px;
}

.cta-welcome {
  border: 1.5px solid white;
  background-color: transparent;
  display: inline;
  align-items: center;
}

.cta-shop-women {
  margin-left: 20px;
}

/* Home Page */
.start {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/home-background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}

.start h1 {
  color: #fff;
  text-transform: uppercase;
  padding: 90px 0px 10px 0px;
  filter: drop-shadow(5px 5px 5px grey);
}

.start p {
  color: #fff;
  text-align: center;
}

.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/pexels-yaroslav-shuraev-7165175-kopi.jpg);
  background-position: top;
  background-size: cover;
  min-height: 35vh;
}

.welcome p {
  font-size: 1.3em;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  padding: 20px 10px 10px 20px;
  filter: drop-shadow(5px 5px 5px grey);
}

@media (min-width: 600px) {
  .start {
    min-height: 120vh;
    background-position: center;
  }

  .start h1 {
    padding-top: 170px;
    font-size: 2em;
  }

  .welcome {
    min-height: 60vh;
  }

  .welcome p {
    padding-top: 50px;
    padding-left: 30px;
  }

  .cta-shop-women {
    margin-left: 30px;
  }
}

@media (min-width: 800px) {
  .logo {
    float: left;
    padding-left: 20px;
  }

  nav {
    display: inline-block;
    filter: none;
    background: none;
  }

  ul {
    display: flex;
  }

  label {
    display: none;
  }

  .welcome {
    min-height: 90vh;
    background-position: top;
  }

  .welcome p {
    font-size: 2em;
    padding-bottom: 30px;
  }

  .cta-welcome {
    font-size: 1em;
    margin-right: 10px;
  }

  .cta-welcome:hover {
    border: none;
    background-color: #527eb9;
  }
}
