@import "import/links.css";

@font-face {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap)
    format(woff2);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

h1 {
  text-transform: uppercase;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

.logo {
  max-width: 100px;
  padding-left: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 1000;
  filter: drop-shadow(2px 2px 2px grey);
}

nav {
  display: none;
  left: 0px;
  top: 80px;
  width: 130px;
  z-index: 1000;
  background-color: #fff;
  filter: drop-shadow(2px 2px 2px grey);
  text-transform: uppercase;
}

li {
  display: block;
  padding: 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: absolute;
}

footer {
  background-color: #e4ebf2;
  padding: 30px;
  text-align: center;
}
