@import "import/links.css";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  background: #f8f8f8;
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  padding-top: 130px;
}

h2 {
  font-size: 1.2em;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

.logo {
  max-width: 100px;
  padding-left: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 1000;
  box-shadow: 1px 1px 10px gray;
}

nav {
  display: none;
  left: 0px;
  top: 80px;
  width: 130px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 5px 5px 10px gray;
  text-transform: uppercase;
}

li {
  display: block;
  padding: 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: absolute;
}

footer {
  background-color: #e4ebf2;
  padding: 30px 0px 30px 0px;
  text-align: center;
}
